---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/SearchBar.astro";
---

<Layout title="Resepi Bangman">
  <main class="flex flex-col items-center">
    <div
      class="flex items-center justify-center md:gap-4 md: md:justify-evenly md:max-w-lg mt-8 mb-2 mx-4 md:mx-0 flex-wrap"
    >
      <div>
        <h1 class="text-5xl font-bold">Resepi Bangman</h1>
        <p class="text-md font-base">Koleksi masakan Bangman dari Twitter</p>
      </div>

      <div class="md:avatar hidden">
        <div class="w-24 rounded-full shadow-md">
          <a href="https://twitter.com/aimansalim_" target="_blank">
            <img src="/bangman.jpg" alt="Bangman(Aiman Salim)" />
          </a>
        </div>
      </div>
    </div>

    <div>
      <SearchBar />
    </div>
  </main>
</Layout>
