---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/SearchBar.astro";
---

<Layout title="Resepi Bangman">
  <main>
    <div class="flex items-center justify-center gap-4 mt-8 mb-2">
      <div class="w-1/2 md:w-auto">
        <h1 class="text-5xl font-bold">Resepi Bangman</h1>
        <p>Koleksi masakan Bangman dari Twitter</p>
      </div>

      <div class="avatar">
        <div class="w-24 rounded-full">
          <a href="https://twitter.com/aimansalim_" target="_blank">
            <img src="/bangman.jpg" alt="Bangman(Aiman Salim)" />
          </a>
        </div>
      </div>
    </div>

    <div>
      <SearchBar />
    </div>
  </main>
</Layout>
